* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bodyVistaPantallaPrincipal{
  margin-top: 20px;
  display: grid;
  grid-template-areas:
    'menu header'
    'menu main'
    'menu audio'
    'footer footer';
  grid-template-columns: 25% 75%;

  background-image: linear-gradient(to right, rgb(192, 225, 247), rgb(131, 211, 248));

}

.material-symbols-outlined:hover{
  color: blueviolet;
}

nav{
  width: 400px;
  margin: 0px auto;
 /* border: 3px black solid;*/

  grid-area: menu;

  display: flex;
  flex-direction: column;

}

a {
  text-decoration: none;
}

.Menu{
  padding: 33px;
  border: 3px black solid;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  margin: auto 0px;  
  background-color: white;
  transition: 0.5s;
  margin: 9px;

}

.Menu:hover{
  background-color: violet;
  scale: 1.2;
}

.Informacion{
  padding: 33px;
  border: 3px black solid;
  border-radius: 10px;
  text-align: center;
  margin: auto 0px;  
  background-color: white;
}

.cancionRecomendada{
  height: 200px;
  width: 200px;
  margin: 5px auto;
}

header{
  display: flex;
  grid-area: header;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}

.usuario{
  display: grid;
  grid-template-areas:
    'nombreUsuario fotoPerfil'
    'cerrarSesion  fotoPerfil';
  
  margin-left: auto;
  margin-right: 35px;
}

.nombreUsuario{
  grid-area: nombreUsuario;
}

.cerrarSesion{
  grid-area: cerrarSesion;
}

.fotoPerfil{

  margin: auto auto auto 5px;
  height: 48px;
  width: 48px;
  border: 3px black solid;
  background-color: white;

  grid-area: fotoPerfil;
}

.canciones{ 
  gap: 30px;
  grid-area: main;

  align-items: center;
  justify-items: center;
  
  margin-right: 35px;
  height: 650px;
  overflow: scroll;
  overflow-x: hidden;

}

.contenedor{
  position: relative;
}



img{
  height: 420px;
  width: 420px; 

}

audio{
  width: 1250px;
  margin: 30px auto;
  grid-area: audio;
  
}

footer{
  grid-area: footer; 
  text-align: center;
  font-size: 20px;
  border: 5px black solid;
  margin: 35px 35px;
  background-color: #fff;
}

u{
  margin: 0%;
}


.cuadricula {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 100px 40px;
  padding: 5px;
  background-color: rgba(79, 134, 244, 0.685);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  margin: auto;
}

.columna-play,
.columna-cancion,
.columna-album,
.columna-duracion,
.columna-favoritos {
  display: flex;
  align-items: center;
}

.columna-album,
.columna-cancion {
  justify-content: space-between;
}

.columna-cancion a {
  text-decoration: none;
}

.columna-cancion a:hover {
  background-color: rgb(235, 225, 244);
}

.cuadricula > div {
  background-color: rgba(120, 240, 240, 0.555);
  padding: 10px;
}

.item2, .item3, .item4{
  font: bold 18px NuevaFuente
}

@font-face {
  font-family: NuevaFuente;
  src: url(./Fuente/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

