*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    grid-area: header;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}

.usuario{
    display: grid;
    grid-template-areas:
      'nombreUsuario fotoPerfil'
      'cerrarSesion  fotoPerfil';
    
    margin-left: auto;
    margin-right: 35px;
}

.nombreUsuario{
    grid-area: nombreUsuario;
}

.cerrarSesion{
    grid-area: cerrarSesion;
}

.fotoPerfil{

    margin: auto auto auto 5px;

    height: 48px;
    width: 48px;
    border: 3px black solid;
    background-color: white;

    grid-area: fotoPerfil;
}
form label{
 width:72px;
 font-weight:bold;
 display:inline-block;

grid-area: form label;
}
.abs-center{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.form {
    font-family: Arial;
    widht: 50%;
    margin-left: auto;
    margin-right: auto;
}

footer{
    font-family: Arial;
    grid-area: footer; 
    text-align: center;
    font-size: 20px;
    border: 4px black solid;
    margin: auto 35px;
    background-color: #fff;
}
