*{
    padding: 0;
    margin: 0;
}
body {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    background-color: #e4e6e9;
}

.caja{
    display: grid;

}

.eliminarUsuario{
padding: 30px;
}

header{
    display: flex;
    grid-area: header;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-bottom: 40px;
    margin-top: 1%;
}

.usuario{
    display: grid;
    grid-template-areas:
      'nombreUsuario fotoPerfil'
      'cerrarSesion  fotoPerfil';
    
    margin-left: auto;
    margin-right: 35px;
}

.nombreUsuario{
    grid-area: nombreUsuario;
}

.cerrarSesion{
    grid-area: cerrarSesion;
}

.fotoPerfil{

    margin: auto auto auto 5px;

    height: 48px;
    width: 48px;
    border: 3px black solid;
    background-color: white;

    grid-area: fotoPerfil;
}

.label{
    margin: 30px;
    font-size: 20px;
    width:72px;
    font-weight:bold;
    display:inline-block;

}

form {
    font-family: Arial;
    font-size: 20px;
    
    widht: 50%;
     margin-left: auto;
    margin-right: auto;
}
.botones {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    /* align-content: center; */
}

button{
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background-color: #007bff;
    margin: 25px;
}

button:hover{
    width: 300px;
    height: 60px;
    border-radius: 10px;
    margin: 25px;
    background: rgb(27, 27, 27);
    ;
}
.btn {
    color: white;
     text-decoration: none;
}

.botonGuardar {
    text-decoration: none;
    color: #fff;
}

input[type="text"],
input[type ="date"]{
    padding: 10px;
    
}
footer{
    grid-area: footer; 
    text-align: center;
    font-size: 20px;
    border: 5px black solid;
    margin: 35px 35px;
    background-color: #fff;
    clear: both;
}
