.usuario{
    display: grid;
    grid-template-areas:
        'nombreUsuario fotoPerfil'
        'cerrarSesion fotoPerfil';
    margin-left: auto;
    margin-right: 35px;
    align-content: stretch;
    justify-content: end;
    justify-items: end;
}

.nombreUsuario{
    grid-area: nombreUsuario;
    margin: auto;
}

.cerrarSesion{
    grid-area: cerrarSesion;
    margin: auto;
}

header{
    background-color: #e1e1e1b8;
}

.fotoPerfil{

    margin: auto auto auto 5px;

    height: 48px;
    width: 48px;
    border: 3px black solid;
    background-color: white;

    grid-area: fotoPerfil;
}

.opcionElegida{
    margin: auto;
    width: 100vh;
    display: flex;
    border: 3px black solid;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(178, 187, 201, 0.42);
    
}

.cajita{
    font-size: 25px;
    margin: 30px;
    display: grid;
    grid-template-areas:
        'opcionTarjeta opcionFDV'
        'opcionCVC opcionNombreApellido';
    justify-content: space-around;
}

.opcionTarjeta{
    grid-area: opcionTarjeta;
    margin-top: 30px;
}

.opcionCVC{
    grid-area: opcionCVC;
    margin-top: 30px;
}

.opcionFDV{
    grid-area: opcionFDV;
    margin-top: 30px;
}

.opcionNombreApellido{
    grid-area: opcionNombreApellido;
    margin-top: 30px;
}

.opcion{
    margin: auto;
}

.tituloPrincipal{
    margin: 50px;
    color: rgba(0, 0, 0, 0.774);

}

.tituloPrincipal:hover{
    margin: 50px;
    color: rgb(0, 0, 0);

}

p{
    font-size: 25px;
    width: 300px;
    margin: 40px;
}

input{
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


img{
    width: 450px;
    height: 154px;
}
.fotoTarjetas{
    width: 461px;
    height: 188px;
}

.fotoTarjetas:hover{
    opacity: 80%;
    width: 461px;
    height: 188px;
}


.botones{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botonCancelar{
    text-decoration: none;
    color: #fff; 
}
.botonPagar{
    text-decoration: none;
    color: #fff;
}
button{
    font-size: 25px;
    border-radius: 10px;
    background-color: #007bff;
    padding: 20px 100px;
    margin: 40px;
}

button:hover{
    font-size: 25px;
    border-radius: 10px;
    background-color: #252a30;
    padding: 20px 100px;
    margin: 40px;
}
footer{
    grid-area: footer; 
    text-align: center;
    font-size: 20px;
    border: 5px black solid;
    margin: auto 35px;
    background-color: rgba(178, 187, 201, 0.42); 
}